<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="wrapper-image brand mb-4">
                    <a href="#">
                        <img src="assets/img/logo/light/logo_286.png" alt="BGSi" />
                    </a>
                </div>
                <ul class="reset-list address-list">
                    <li class="nav-item">
                        <iconify-icon icon="fa-solid:map-marker-alt" class="icon"></iconify-icon>
                        <p><span class="text-bold">Gedung Eijkman RSCM</span><br/>Jl. Pangeran Diponegoro No.69, RW.5, Kenari, Kec. Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10430</p>
                    </li>
                    <li class="nav-item">
                        <iconify-icon icon="fa-solid:phone-alt" class="icon"></iconify-icon>
                        <p>+62 812 345 678</p>
                    </li>
                    <li class="nav-item">
                        <iconify-icon icon="fa-solid:envelope" class="icon"></iconify-icon>
                        <p>bgsi@kemkes.go.id</p>
                    </li>
                </ul>
                
                <p class="text-center text-lg-start mb-3">Follow us</p>
                <ul class="nav sosmed-list">
                    <li class="nav-item"><a href="#" class="nav-link" target="_blank"><iconify-icon icon="akar-icons:linkedin-box-fill" class="icon"></iconify-icon></a></li>
                    <li class="nav-item"><a href="#" class="nav-link" target="_blank"><iconify-icon icon="akar-icons:instagram-fill" class="icon"></iconify-icon></a></li>
                    <li class="nav-item"><a href="#" class="nav-link" target="_blank"><iconify-icon icon="akar-icons:twitter-fill" class="icon"></iconify-icon></a></li>
                </ul>
            </div>
            <div class="col-lg-2 d-none d-lg-flex">&nbsp;</div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="reset-list nav-footer-menu">
                            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Platform</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Sequencing Service</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="reset-list nav-footer-menu">
                            <li class="nav-item"><a href="#" class="nav-link">Terms of Use</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="copyright">
                    <p>BGSi Web ver 2.0.0  &copy;2022 Kementerian Kesehatan Indonesia</p>
                </div>
            </div>
        </div>
    </div>
</footer>