// -----------------------------------------------------------------------------
// This file contains material color configuration
// Color reference : https://material-ui.com/customization/color/
// -----------------------------------------------------------------------------

$colorBundle : 
("red", 100, material(red, 100), dark_75),
("red", 200, material(red, 200), dark_75),
("red", 300, material(red, 300), dark_75),
("red", 400, material(red, 400), light_25),
("red", 500, material(red, 500), light_25),
("red", 600, material(red, 600), light_25),
("red", 700, material(red, 700), light_25),
("red", 800, material(red, 800), light_25),
("red", 900, material(red, 900), light_25),

("pink", 100, material(pink, 100), dark_75),
("pink", 200, material(pink, 200), dark_75),
("pink", 300, material(pink, 300), light_25),
("pink", 400, material(pink, 400), light_25),
("pink", 500, material(pink, 500), light_25),
("pink", 600, material(pink, 600), light_25),
("pink", 700, material(pink, 700), light_25),
("pink", 800, material(pink, 800), light_25),
("pink", 900, material(pink, 900), light_25),

("purple", 100, material(purple, 100), dark_75),
("purple", 200, material(purple, 200), dark_75),
("purple", 300, material(purple, 300), light_25),
("purple", 400, material(purple, 400), light_25),
("purple", 500, material(purple, 500), light_25),
("purple", 600, material(purple, 600), light_25),
("purple", 700, material(purple, 700), light_25),
("purple", 800, material(purple, 800), light_25),
("purple", 900, material(purple, 900), light_25),

("deep_purple", 100, material(deep_purple, 100), dark_75),
("deep_purple", 200, material(deep_purple, 200), dark_75),
("deep_purple", 300, material(deep_purple, 300), light_25),
("deep_purple", 400, material(deep_purple, 400), light_25),
("deep_purple", 500, material(deep_purple, 500), light_25),
("deep_purple", 600, material(deep_purple, 600), light_25),
("deep_purple", 700, material(deep_purple, 700), light_25),
("deep_purple", 800, material(deep_purple, 800), light_25),
("deep_purple", 900, material(deep_purple, 900), light_25),

("indigo", 100, material(indigo, 100), dark_75),
("indigo", 200, material(indigo, 200), dark_75),
("indigo", 300, material(indigo, 300), light_25),
("indigo", 400, material(indigo, 400), light_25),
("indigo", 500, material(indigo, 500), light_25),
("indigo", 600, material(indigo, 600), light_25),
("indigo", 700, material(indigo, 700), light_25),
("indigo", 800, material(indigo, 800), light_25),
("indigo", 900, material(indigo, 900), light_25),

("blue", 100, material(blue, 100), dark_75),
("blue", 200, material(blue, 200), dark_75),
("blue", 300, material(blue, 300), dark_75),
("blue", 400, material(blue, 400), dark_75),
("blue", 500, material(blue, 500), light_25),
("blue", 600, material(blue, 600), light_25),
("blue", 700, material(blue, 700), light_25),
("blue", 800, material(blue, 800), light_25),
("blue", 900, material(blue, 900), light_25),

("light_blue", 100, material(light_blue, 100), dark_75),
("light_blue", 200, material(light_blue, 200), dark_75),
("light_blue", 300, material(light_blue, 300), dark_75),
("light_blue", 400, material(light_blue, 400), dark_75),
("light_blue", 500, material(light_blue, 500), dark_75),
("light_blue", 600, material(light_blue, 600), light_25),
("light_blue", 700, material(light_blue, 700), light_25),
("light_blue", 800, material(light_blue, 800), light_25),
("light_blue", 900, material(light_blue, 900), light_25),

("cyan", 100, material(cyan, 100), dark_75),
("cyan", 200, material(cyan, 200), dark_75),
("cyan", 300, material(cyan, 300), dark_75),
("cyan", 400, material(cyan, 400), dark_75),
("cyan", 500, material(cyan, 500), dark_75),
("cyan", 600, material(cyan, 600), dark_75),
("cyan", 700, material(cyan, 700), light_25),
("cyan", 800, material(cyan, 800), light_25),
("cyan", 900, material(cyan, 900), light_25),

("teal", 100, material(teal, 100), dark_75),
("teal", 200, material(teal, 200), dark_75),
("teal", 300, material(teal, 300), dark_75),
("teal", 400, material(teal, 400), light_25),
("teal", 500, material(teal, 500), light_25),
("teal", 600, material(teal, 600), light_25),
("teal", 700, material(teal, 700), light_25),
("teal", 800, material(teal, 800), light_25),
("teal", 900, material(teal, 900), light_25),

("green", 100, material(green, 100), dark_75),
("green", 200, material(green, 200), dark_75),
("green", 300, material(green, 300), dark_75),
("green", 400, material(green, 400), dark_75),
("green", 500, material(green, 500), dark_75),
("green", 600, material(green, 600), light_25),
("green", 700, material(green, 700), light_25),
("green", 800, material(green, 800), light_25),
("green", 900, material(green, 900), light_25),

("light_green", 100, material(light_green, 100), dark_75),
("light_green", 200, material(light_green, 200), dark_75),
("light_green", 300, material(light_green, 300), dark_75),
("light_green", 400, material(light_green, 400), dark_75),
("light_green", 500, material(light_green, 500), dark_75),
("light_green", 600, material(light_green, 600), dark_75),
("light_green", 700, material(light_green, 700), light_25),
("light_green", 800, material(light_green, 800), light_25),
("light_green", 900, material(light_green, 900), light_25),

("lime", 100, material(lime, 100), dark_75),
("lime", 200, material(lime, 200), dark_75),
("lime", 300, material(lime, 300), dark_75),
("lime", 400, material(lime, 400), dark_75),
("lime", 500, material(lime, 500), dark_75),
("lime", 600, material(lime, 600), dark_75),
("lime", 700, material(lime, 700), dark_75),
("lime", 800, material(lime, 800), dark_75),
("lime", 900, material(lime, 900), light_25),

("yellow", 100, material(yellow, 100), dark_75),
("yellow", 200, material(yellow, 200), dark_75),
("yellow", 300, material(yellow, 300), dark_75),
("yellow", 400, material(yellow, 400), dark_75),
("yellow", 500, material(yellow, 500), dark_75),
("yellow", 600, material(yellow, 600), dark_75),
("yellow", 700, material(yellow, 700), dark_75),
("yellow", 800, material(yellow, 800), dark_75),
("yellow", 900, material(yellow, 900), dark_75),

("amber", 100, material(amber, 100), dark_75),
("amber", 200, material(amber, 200), dark_75),
("amber", 300, material(amber, 300), dark_75),
("amber", 400, material(amber, 400), dark_75),
("amber", 500, material(amber, 500), dark_75),
("amber", 600, material(amber, 600), dark_75),
("amber", 700, material(amber, 700), dark_75),
("amber", 800, material(amber, 800), dark_75),
("amber", 900, material(amber, 900), dark_75),

("orange", 100, material(orange, 100), dark_75),
("orange", 200, material(orange, 200), dark_75),
("orange", 300, material(orange, 300), dark_75),
("orange", 400, material(orange, 400), dark_75),
("orange", 500, material(orange, 500), dark_75),
("orange", 600, material(orange, 600), dark_75),
("orange", 700, material(orange, 700), dark_75),
("orange", 800, material(orange, 800), light_25),
("orange", 900, material(orange, 900), light_25),

("deep_orange", 100, material(deep_orange, 100), dark_75),
("deep_orange", 200, material(deep_orange, 200), dark_75),
("deep_orange", 300, material(deep_orange, 300), dark_75),
("deep_orange", 400, material(deep_orange, 400), dark_75),
("deep_orange", 500, material(deep_orange, 500), light_25),
("deep_orange", 600, material(deep_orange, 600), light_25),
("deep_orange", 700, material(deep_orange, 700), light_25),
("deep_orange", 800, material(deep_orange, 800), light_25),
("deep_orange", 900, material(deep_orange, 900), light_25),

("brown", 100, material(brown, 100), dark_75),
("brown", 200, material(brown, 200), dark_75),
("brown", 300, material(brown, 300), light_25),
("brown", 400, material(brown, 400), light_25),
("brown", 500, material(brown, 500), light_25),
("brown", 600, material(brown, 600), light_25),
("brown", 700, material(brown, 700), light_25),
("brown", 800, material(brown, 800), light_25),
("brown", 900, material(brown, 900), light_25),

("grey", 100, material(grey, 100), dark_75),
("grey", 200, material(grey, 200), dark_75),
("grey", 300, material(grey, 300), dark_75),
("grey", 400, material(grey, 400), dark_75),
("grey", 500, material(grey, 500), dark_75),
("grey", 600, material(grey, 600), light_25),
("grey", 700, material(grey, 700), light_25),
("grey", 800, material(grey, 800), light_25),
("grey", 900, material(grey, 900), light_25),

("blue_grey", 100, material(blue_grey, 100), dark_75),
("blue_grey", 200, material(blue_grey, 200), dark_75),
("blue_grey", 300, material(blue_grey, 300), dark_75),
("blue_grey", 400, material(blue_grey, 400), light_25),
("blue_grey", 500, material(blue_grey, 500), light_25),
("blue_grey", 600, material(blue_grey, 600), light_25),
("blue_grey", 700, material(blue_grey, 700), light_25),
("blue_grey", 800, material(blue_grey, 800), light_25),
("blue_grey", 900, material(blue_grey, 900), light_25);

// Generate Background color and Text color that you can be able to called it by class name
@each $colorCode, $tone, $color, $textColor in $colorBundle{
    $newColorClass: str-replace(unquote($colorCode), '_', '-');
    
    @if $newColorClass {
        .txt-#{$newColorClass}-#{$tone}{
            color: $color!important;
        }
        .bg-#{$newColorClass}-#{$tone}{ 
            color: standard(default, $textColor)!important;
            background: $color!important;
        }
    }
}