// -----------------------------------------------------------------------------
// This file contains standard theme variables
// -----------------------------------------------------------------------------

$standard: (
  default: (
    dark_25: #525854,
    dark_50: #474948,
    dark_75: #363837,
    dark_100: #242424,
    grey_25: #c2c2c2,
    grey_50: #b0b0b0,
    grey_75: #8f8f8f,
    grey_100: #757575,
    blue_grey_25: #d0d9dd,
    blue_grey_50: #b3c0c7,
    blue_grey_75: #95a8b2,
    blue_grey_100: #78909c,
    lime_10: #e9ffe4,
    lime_25: #e1ffaf,
    lime_50: #c9ff70,
    lime_75: #a6e244,
    lime_100: #8abd37,
    light_25: #ffffff,
    light_50: #fcfcfc,
    light_75: #f8f8f8,
    light_100: #f2f2f2,
    blue_10: #d3f2ff,
    blue_25: #9de2ff,
    blue_50: #46c7ff,
    blue_75: #27a9e1,
    blue_100: #158abc,
    warning_10: #fffaf1,
    warning_25: #fff0cb,
    warning_50: #fee094,
    warning_75: #ffca63,
    warning_100: #ffbc3b,
    danger_10: #fdeff4,
    danger_25: #ffd5e4,
    danger_50: #f7a9c4,
    danger_75: #f27ba3,
    danger_100: #e91e63,
    info_10: #e9fafc,
    info_25: #adfaff,
    info_50: #48f4ff,
    info_75: #16ddea,
    info_100: #1dbbc5,
    secondary_10: #fff1dc,
    secondary_25: #ffe2c7,
    secondary_50: #ffc997,
    secondary_75: #ffb26b,
    secondary_100: #ffa24d,
    primary_10: #e9ffe4,
    primary_25: #aeffce,
    primary_50: #6ce99e,
    primary_75: #5ccc89,
    primary_100: #4ea671,
  ),
  template: (
    primary_main: #16B3AC,
    primary_surface: #EBF7F7,
    primary_border: #CFE6E5,
    primary_hover: #12958F,
    primary_pressed: #0B5956,
    primary_focussed: rgba(22, 179, 172, 0.2),
    secondary_main: #9C27B0,
    secondary_surface: #EBD4EF,
    secondary_border: #DEB7E5,
    secondary_hover: #822093,
    secondary_pressed: #4E1458,
    danger_main: #CB3A31,
    danger_surface: #FFF4F2,
    danger_border: #EEB4B0,
    danger_hover: #BD251C,
    danger_pressed: #731912,
    warning_main: #CD7B2E,
    warning_surface: #FFF9F2,
    warning_border: #EECEB0,
    warning_hover: #BF6919,
    warning_pressed: #734011,
    success_main: #43936C,
    success_surface: #F7F7F7,
    success_border: #B8DBCA,
    success_hover: #367A59,
    success_pressed: #20573D,
    info_main: #3267E3,
    info_surface: #F0F3FF,
    info_border: #B1C5F6,
    info_hover: #114CD6,
    info_pressed: #11317D,
  ),
  shadows: (
    z1: 0px 1px 2px rgba(0, 0, 0, 0.12),
    z2: 0px 4px 8px rgba(0, 0, 0, 0.1),
    z3: inset 1px 2px 2px rgba(0, 0, 0, 0.12),
  ),
  spacing: (
    p_xs: 0.75rem,
    p_sm: 1.25rem,
    p_md: 1.75rem,
    p_lg: 2.25rem,
    p_xl: 2.75rem,
  )
);
